:root {
  --text: #ffffff;
  --muted: #e5e5e5;
  --shadow: 0 0.125em 0.375em rgba(0,0,0,.6);
  --bg: #2d2d2c;
  font-size: 16px;
}

* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; }

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell;
  color: var(--text);

  background:
    url("logos/Recurso49.svg") no-repeat center 40% / 60em auto,
    var(--bg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
  padding: 1.5em;
}

@media (max-width: 768px) {
  body {
    background-size: 22em auto, auto;
    background-position: center 20%, center;
  }
}

.viewport {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 15em;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--text);
  transition: transform 0.2s, filter 0.2s;
}

.icon {
  width: 5em;
  height: 5em;
  display: block;
}

.icon--insta {
  transform: scale(0.80);
  transform-origin: center center;
}

@media (min-width: 769px) {
  .grid {
    margin-top: 5em;
    gap: 4em;
  }

  .icon {
    width: 10em;
    height: 10em;
  }
}

@media (max-width: 768px) {
  .icon {
    width: 6em;
    height: 6em;
    margin-top: 3em;
  }
}

.label {
  margin-top: 0.4em;
  font-size: 1em;
  font-weight: 600;
  text-shadow: var(--shadow);
}

.btn:hover,
.btn:focus-visible {
  transform: scale(1.08);
  filter: drop-shadow(0 0.4em 1em rgba(0,0,0,0.6));
  outline: none;
}

.footer {
  font-size: 0.9em;
  color: #c2c6b6;
  text-shadow: var(--shadow);
  padding: 1em 0;
}

.sr-only {
  position: absolute;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden; clip: rect(0,0,0,0);
  border: 0;
}